.pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }
    .pagination>li {
        display: inline;
    }
    .pagination>li:first-child>span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .pagination>.disabled>span{
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }
    .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;

        color: #D97593;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination>li>a{
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #D97593;

        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination>li:first-child>a, .pagination>li:first-child>span {
        margin-left: 0; 
        border-top-left-radius: 4px; 
        border-bottom-left-radius: 4px; 
    }
     .pagination>.active>span {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #D97593;
        border-color: #D97593;

    }
    .pagination>li>a:hover{
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }